<section id="vue-main-page">
  <navbar></navbar>
  <form v-on:submit.prevent="getPhotosByTags(search)" class="row">
    <section class="input-field col s12 m9">
      <label>Search</label>
      <input id="search" type="search" placeholder="Search" v-model="search">
      <i class="material-icons">close</i>
    </section>
    <section class="col s12 m3">
      <label>Sort</label>
      <select class="browser-default" v-model="sort">
        <option value="11">Date Taken - Asc</option>
        <option value="12">Date Taken - Desc</option>
        <option value="21">Date Posted - Asc</option>
        <option value="22" selected>Date Posted - Desc</option>
        <option value="31">Interest - Asc</option>
        <option value="32">Interest - Desc</option>
        <option value="4">Relevance</option>
      </select>
    </section>
  </form>
  <ul class="row">
    <li v-for="item in displayJSON.items" class="col s12 m4 l3 xl2">
      <section class="card sticky-action small">
        <section class="card-image waves-effect waves-block waves-light">
          <img class="activator" :src="item.url_m" :alt="item.title">
        </section>
        <section class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <a :href="item.link" v-bind:title=titleExists(item.title)>{{titleExists(item.title)}}</a>
            <i class="material-icons right">more_vert</i>
          </span>
          <p>By:&nbsp;<a :href="`https://www.flickr.com/photos/${item.owner}`" v-bind:title="item.ownername">{{item.ownername}}</a></p>
        </section>
        <section class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <a :href="item.link" v-bind:title=titleExists(item.title)>{{titleExists(item.title)}}</a>
            <i class="material-icons right">close</i></span>
          <p>{{getDescription(item.description)}}</p>
          <p>Date taken: {{formatDate(item.datetaken)}}</p>
          <section v-if="formatTags(item.tags).length>0">
            <span>Tags&nbsp;</span>
            <ul class="tag-list">
              <li v-for="tag in formatTags(item.tags)" class="chip">
                <a :href="`https://www.flickr.com/photos/tags/${tag}`" v-bind:title=tag>&#35;{{tag}}</a>
              </li>
            </ul>
          </section>
        </section>
      </section>
    </li>
    <li class="col s12 m4 l3 xl2">
      <section class="card small valign-wrapper">
        <section class="card-image row">
          <section class="preloader-wrapper big active">
            <section class="spinner-layer spinner-blue-only">
              <section class="circle-clipper left">
                <section class="circle"></section>
              </section><section class="gap-patch">
                <section class="circle"></section>
              </section><section class="circle-clipper right">
                <section class="circle"></section>
              </section>
            </section>
          </section>
          <section v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
          </section>
        </section>
      </section>
    </li>
  </ul>
</section>
